:root {
  /* Nord Theme Colors */
  --nord-polar-1: #2e3440;
  --nord-polar-2: #3b4252;
  --nord-polar-3: #434c5e;
  --nord-polar-4: #4c566a;
  --nord-snowstorm-1: #d8dee9;
  --nord-snowstorm-2: #e5e9f0;
  --nord-snowstorm-3: #eceff4;
  --nord-frost-1: #8fbcbb;
  --nord-frost-2: #88c0d0;
  --nord-frost-3: #81a1c1;
  --nord-frost-4: #5e81ac;

  /* Dark Theme Colors */


  /* Static Theme Colors */
  --bg-color: var(--nord-polar-2);
  --fg-color: var(--nord-snowstorm-1);
  --header-bg-color: var(--nord-polar-2);
  --header-border-color: var(--nord-polar-3);
  --header-hover-color: var(--nord-polar-4);
  --bg-button: var(--nord-polar-3);
}

@import url("../fonts/firacode/stylesheet.css");
@media (min-width: 767px) {#v-hdr {position: absolute; top: -1000%;}}
@media (max-width: 767px) {#h-hdr {position: absolute; top: -1000%;}}

/* GENERAL SETTINGS */
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font: 16px 'Fira Code', Arial, Helvetica, sans-serif;
}
body {
  max-width: 960px;
  margin: auto;
  padding: 0 5%;
}

/* TITLE */
#title {
  font-size: 50px;
  font-weight: 500;
  padding: 20px 0;
  cursor: default;
}
#title img {
  float: right;
  vertical-align: middle;
}

/* HEADER */
header {
  background-color: var(--header-bg-color);
  font-size: 20px;
  text-align: center;
  cursor: pointer; cursor: hand;
}
ul.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.nav li {
  flex-grow: 1;
  border: var(--header-border-color) solid 1px;
  padding: 0.5%;
}
ul.nav li a {
  display: block;
  text-decoration: none;
}
ul.nav li:hover { background-color: var(--header-hover-color); }
ul.nav li a:hover { font-weight: normal; }

/* DYNAMIC RESIZE AND ACTIVE PAGE */
@media screen and (max-width: 600px) {
  ul.nav li { float: none; }
  ul.nav { display: block; }
}
@media screen and (max-width: 445px) {
  #title { overflow: hidden; }
  #title img {
    visibility: hidden;
    height: 0px;
  }
}
.active-btn {
  padding: 0px;
  background-color: var(--bg-button);
}

/* LINKS */
a { color: var(--nord-frost-2); }
a:hover {
    color: var(--nord-frost-2);
    font-weight: bold;
}

/* FOOTER */
hr {
    border-color: var(--nord-frost-2); /* Chrome + Safari */
    background-color: var(--nord-frost-2); /* Firefox + Opera */
    color: var(--nord-frost-2); /* IE7+ */
}

#footer {
  text-align: center;
}

/* CONTENT BLOCKS */
.content {
    margin: 15px 0;
    padding: 5px;
    background-color: var(--nord-polar-4);
}
