:root {
  /* Nord Theme Colors: https://www.nordtheme.com/ */
  --nord-polar-1: #2e3440;
  --nord-polar-2: #3b4252;
  --nord-polar-3: #434c5e;
  --nord-polar-4: #4c566a;
  --nord-snowstorm-1: #d8dee9;
  --nord-snowstorm-2: #e5e9f0;
  --nord-snowstorm-3: #eceff4;
  --nord-frost-1: #8fbcbb;
  --nord-frost-2: #88c0d0;
  --nord-frost-3: #81a1c1;
  --nord-frost-4: #5e81ac;

  /* Dark Gruvbox Colors: https://github.com/morhetz/gruvbox */
  --gruvbox-bg: #282828;
  --gruvbox-dark-red: #cc241d;
  --gruvbox-dark-green: #98971a;
  --gruvbox-dark-yellow: #d79921;
  --gruvbox-dark-blue: #458588;
  --gruvbox-dark-purple: #b16286;
  --gruvbox-dark-aqua: #689d6a;
  --gruvbox-dark-gray: #928374;

  --gruvbox-gray: #a89984;
  --gruvbox-light-red: #fb4934;
  --gruvbox-light-green: #b8bb26;
  --gruvbox-light-yellow: #fabd2f;
  --gruvbox-light-blue: #83a598;
  --gruvbox-light-purple: #d3869b;
  --gruvbox-light-aqua: #8ec07c;
  --gruvbox-fg: #ebdbb2;

  --gruvbox-bg0_h: #1d2021;
  --gruvbox-bg0: #282828;
  --gruvbox-bg1: #3c3836;
  --gruvbox-bg2: #504945;
  --gruvbox-bg3: #665c54;
  --gruvbox-bg4: #7c6f64;
  --gruvbox-gray: #928374;
  --gruvbox-dark-orange: #d65d0e;

  --gruvbox-bg0_s: #32302f;
  --gruvbox-fg4: #a89984;
  --gruvbox-fg3: #bdae93;
  --gruvbox-fg2: #d5c4a1;
  --gruvbox-fg1: #ebdbb2;
  --gruvbox-fg0: #fbf1c7;
  --gruvbox-light-orange: #fe8019;

  /* Static Theme Colors */
  --bg-color: var(--gruvbox-bg);
  --fg-color: var(--gruvbox-fg);
  --header-bg-color: var(--gruvbox-bg);
  --header-border-color: var(--gruvbox-bg3);
  --header-hover-color: var(--gruvbox-bg4);
  --bg-button: var(--gruvbox-bg2);
  --link-color: var(--gruvbox-light-yellow);
  --separator-color: var(--gruvbox-dark-yellow);
}

@import url("../fonts/firacode/stylesheet.css");
@media (min-width: 767px) {#v-hdr {position: absolute; top: -1000%;}}
@media (max-width: 767px) {#h-hdr {position: absolute; top: -1000%;}}

/* GENERAL SETTINGS */
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font: 16px 'Fira Code', Arial, Helvetica, sans-serif;
}
html::-webkit-scrollbar { display: none; }
body {
  max-width: 960px;
  margin: auto;
  padding: 0 5%;
}

/* TITLE */
#title {
  font-size: 50px;
  font-weight: 500;
  padding: 20px 0;
  cursor: default;
}
#title img {
  float: right;
  vertical-align: middle;
}
#meow {
  font-size: 12px;
  float: right;
  display: none;
}
#meow:target {
  display: inline;
}

/* HEADER */
header {
  background-color: var(--header-bg-color);
  font-size: 20px;
  text-align: center;
  cursor: pointer; cursor: hand;
}
ul.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.nav li {
  flex-grow: 1;
  border: var(--header-border-color) solid 1px;
  padding: 0.5%;
}
ul.nav li a {
  display: block;
  text-decoration: none;
}
ul.nav li:hover { background-color: var(--header-hover-color); }
ul.nav li a:hover { font-weight: normal; }

/* DYNAMIC RESIZE AND ACTIVE PAGE */
@media screen and (max-width: 600px) {
  ul.nav li { float: none; }
  ul.nav { display: block; }
}
@media screen and (max-width: 445px) {
  #title { overflow: hidden; }
  #title img {
    visibility: hidden;
    height: 0px;
  }
}
.active-btn {
  padding: 0px;
  background-color: var(--bg-button);
}

/* LINKS */
a { color: var(--link-color); }
a:hover { font-weight: bold; }

/* HORIZONTAL BAR */
hr {
  border-color: var(--separator-color); /* Chrome + Safari */
  background-color: var(--separator-color); /* Firefox + Opera */
  color: var(--separator-color); /* IE7+ */
}

/* FOOTER */
footer {
  text-align: center;
}

/* CONTENT BLOCKS */
.content {
  margin: 15px 0;
  padding: 5px;
  background-color: var(--nord-polar-4);
}
